@charset "utf-8";
/* CSS Document */
html,body{
	max-width: 100%;
	width: 100%;
	overflow-x:hidden; 
	margin:0;
	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
}
@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-thin-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-thin-webfont.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-extralight-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-extralight-webfont.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-light-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-regular-webfont.woff') format('woff');
	font-weight: 400; // normal
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-semibold-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-extrabold-webfont.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-black-webfont.woff2') format('woff2'),
		 url('fonts/montserrat-black-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
/* Container */
.container-fluid {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding:0;
	height:auto
}

/* Navigation */
/*

header {
    width: 80%;
    height:60px;
    background-color: #ffffff;
	padding-top: 10px;
	display:block;
	margin:0 auto;
}

nav{
	display:block;
	float:right;
	width:80%;
	padding-top:10px;
	text-align:right;
}
header nav ul.menu {
    list-style-type: none;
    float: right;
	}

header nav ul.menu li{
	float:left;
	color:#333333;
	font-size:16px;
	text-align:center;
	font-weight: bold;

}
header nav ul.language{
	list-style-type: none;
	float:right;
	border-left: 2px solid #d6d6d6;
}
header nav ul.language li{
	float:left;
	color:#333333;
	font-size:16px;
	font-weight: bold;
	text-align:left;
	transition: all 0.3s linear;
	padding-left:20px;
	}
*/
.header {
    background: #fff;
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    border-bottom: 1px solid #f2f2f2;
    height: 55px;
}
.nav-bar{
	position:relative;
	display:flex;

}
.nav-menu{
	background: white;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background: white;
    height: 100%;
}
.nav-menu .nav-item.active .nav-link, .nav-menu .nav-item .nav-link {
    color: #000000;
    font-weight: 400;
    border-bottom:1px solid #ffffff;
}
.nav-menu .nav-item.active .nav-link, .nav-menu .nav-item:hover .nav-link {
    color: #000000;
    font-weight: 400;
    border-bottom:1px solid #b40000;
}
.navbar-header.navbar-expand-lg {
    padding-top: 8px;
    padding-left: 0;
    padding-right: 0;
}
.nav-down {
    margin-top: 0;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height:auto;
}
.navbar-brand {
    float: left;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand img {
    zoom: 1;
    width: 190px;
    max-width: 190px;
}
.nav-link {
    display: block;
    padding:0;
}

.dropdown{
	display:block;
	margin:0 auto;

}
.dropdown a {
    display: block;
    border: none;
    font-size: 16px;
    color:#333333;
    margin:10px;
    text-align:left;
}
.dropdown a:hover {
	text-decoration: none;
    color: #000000;
    font-weight: 400;
    border-bottom:1px solid #b40000;
}
.dropdown-menu{
	border:none;
	width:100%;
	background:#f9f9f9;
}
.dropdown-menu{
	width:250px;
	color:#333333;

}
.dropdown-menu li a{
	font-size:16px;
	
}
.dropdown-menu a:hover{
	color: #000000;
    font-weight: 600;
    border-bottom:1px solid #b40000;
}
.navbar-light .navbar-nav .nav-link {
    color: #333333;
    text-align: center;
    margin:10px 0px 10px 0px;
}
.nav-collapse ul{
	float:right;
}
.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    outline: none;
}


/*
.header ul.menu li a{
	color:#333333;
	text-decoration:none;
	transition: all 0.35s ease-in-out;
}
.header ul.menu li a:hover {
	border-bottom:2px solid #b40000;
	text-decoration:none;
	color:#6f7172;
}

.shadow-lg {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
            0 2px 4px 0 rgba(0,0,0,0.08);	
}
.header ul.language li a{
	color:#333333;
	text-decoration:none;}
.header ul.language li:hover a{
	text-decoration:none;
	color:#b40000;
}
*/
/*banner*/

.logo {
	width:15%;
	float:left;
}
.btn-nav{
 	border:1px solid #333333;
 	float:right;
 }
.homepage_banner{
	width:100%;
	display:block;
	position:relative
}
.homepage_slide{
	width:100%;
	display:block;
	z-index:2
}


.section .container {
    position: relative;
    z-index: 1;
}

.homepage_slide_viewdetail {
	position: absolute;
	background: rgba(17,17,17,0.6);
    margin: 0 auto;
    z-index: 99;
    bottom:0;
    /*
     width: 30%;
    height: 30%;
    
    bottom: 0;
    left: 50%;
    margin-left: -15%;
	margin-bottom:5%;*/
}
.content-header {
    position: absolute;
    background: rgb(0,0,0,0.5);
    width: 480px;
    height: 300px;
    bottom: 100px;
    left: 50%;
    margin-left: -240px;
}
.slide_text{
	color:white;
	text-align:center;
	margin-top:8%;
	
}
.slide_text h2{
	text-transform: uppercase;
	font-size:40px;
	letter-spacing: 3px;
}
.slide_text p{
	font-size:20px;
	font-weight:300;
	text-transform: uppercase;
}
.slide_button{
	text-align:center;

}
.btn{
	text-transform: uppercase;
	border-radius: 0;
	text-decoration: none;
	
}
.btn-body{
	opacity:1;
}
.btn-body:hover{
	text-decoration: none;
	opacity:0.75;
}

.btn_banner{
	margin:10px;
}
.btn-light{
	background:white;
	color:#333333;
	transition: all 0.3s ease 0s;
}
.btn-light:hover{
	background:#62c3ca ;
	color:white;
}
.btn-outline-light:hover{
	background:white;
}


.bg1{
	     background-size: cover;
     background-image: url('../images/homepage/slide1.png');
     height: 100vh;
     background-position: center;
}
.bg2{
	     background-size: cover;
     background-image: url('../images/homepage/slide2.png');
     height: 100vh;
     background-position: center;
}
.bg3{
	     background-size: cover;
     background-image: url('../images/homepage/slide3.png');
     height: 100vh;
     background-position: center;
}

.Aboutus_banner{
	 background-size: cover;
	 background-position: center;
     background-image: url('../images/about_us/banner.png');
     width:100%;
	position:relative;
	height:420px;
}
.service_banner{
	background-size: cover;
	background-position: center;
     background-image: url('../images/service/banner.png');
    width:100%;
	position:relative;
	height:420px;
}
.blog_banner{
	background-size: cover;
	background-position: center;
     background-image: url('../images/blog/banner.png');
    width:100%;
	position:relative;
	height:420px;
}
.career_banner{
	background-size: cover;
	background-position: center;
     background-image: url('../images/career/banner.png');
    width:100%;
	position:relative;
	height:420px;
}
/*banner*/


.homepage_title{
	display:block;
	width:100%;
	height:180px;
	background:#d1f6d7;
}
.arrow_box {
	position: relative;
	background: #ffffff;
	border: 4px solid none;
}
.btn_home_web{
	background:#55bf8a;
	color:#d1f6d7;
}
.btn_home_web:hover{
	background:#73CA9F;
	color:#d1f6d7;

}
.btn_home_web:focus{
	outline:none;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #none;
	border-width: 36px;
	margin-left: -36px;
}
.homepage_title h2{
	color:#333333;
	text-transform: uppercase;
	font-weight:bold;
	text-align:center;
	padding-top:40px;
}
.line{
	width:5%;
	border-top:2px solid #b40000;
	display:block;
	margin:0 auto;
	padding-bottom:40px
}

/*web_solution*/
.web_solution{
	width:100%;
	background:#d1f6d7;
	padding-top:40px;
	padding-bottom:40px;
	color:#3b7c5c;
}
img.mx-auto{
	width:100%;

}
.web_solution span{
	text-transform: uppercase;
	font-size:36px;
	font-weight:normal;
}
.web_solution span b{
	padding-right:10px;
}
.web_solution h4{
	font-size:16px;
	margin-top:10px;
}
.page_content_title span b{
	margin-right:10px;
}
.web_solution i.icon_title_web {
    height: 50px;
    background: url(../images/homepage/ic_websolution.png) no-repeat;
    background-position: center;
    display: inline-block;
    width: 60px;
    margin-right: 20px;
}

/*mobile_solution*/
.mobile_solution{
	width:100%;
	
	background:#55bf8a;
	padding-top:40px;
	padding-bottom:40px;
}
.mobile_solution span{
	font-size:36px;
	color:#206a45;
	font-weight:normal;
}
.mobile_solution span b{
	padding-right:10px;
}
.mobile_solution h4{
	color:white;
	font-size:16px;
	margin-top:10px;
}
.mobile_solution p{
	color:#d1f6d7;
}
.homepage_content_title i.icon_title_mobile {
    height: 70px;
    background: url(../images/homepage/ic_mobileapp.png) no-repeat;
    background-position: center;
    display: inline-block;
    width: 45px;
    margin-right: 20px;
}

.btn_home_app{
	background:#206a45;
	color:#d1f6d7;
}
.btn_home_app:hover{
	background:#206a45;
	color:#d1f6d7;

}
.btn_home_app:focus{
	outline:none;
}

/*offshore*/
.offshore_development{
	width:100%;
	
	background:#d1f2f6;
	padding-top:40px;
	padding-bottom:40px;
}
.offshore_development span{
	font-size:36px;
	color:#206a45;
	font-weight:normal;
	text-transform: uppercase;
}
.offshore_development span b{
	padding-right:10px;
}
.offshore_development h4{
	color:#0b6971;
	font-size:16px;
	margin-top:10px;
}
.offshore_development p{
	color:#0b6971;
}
.homepage_content_title i.icon_title_offshore {
    height: 50px;
    background: url(../images/homepage/ic_offshore.png) no-repeat;
    background-position: center;
    display: inline-block;
    width: 50px;
    margin-right: 20px;
}

.btn_home_offshore{
	background:#62c3ca;
	color:#d1f2f6;
}
.btn_home_offshore:hover{
	background:#62c3ca;
	color:#d1f2f6;

}
.btn_home_offshore:focus{
	outline:none;
}

/*media*/
.media_development{
	width:100%;
	background:#62c3ca;
	padding-top:40px;
	padding-bottom:40px;
}
.media_development span{
	font-size:36px;
	text-transform: uppercase;
	color:#0b6971;
	font-weight:normal;
}
.media_development span b{
	padding-right:10px;
}
.media_development h4{
	color:white;
	font-size:16px;
	margin-top:10px;
}
.media_development p{
	color:#d1f2f6;
}
.homepage_content_title i.icon_title_media {
    height: 50px;
    background: url(../images/homepage/ic_media.png) no-repeat;
    background-position: center;
    display: inline-block;
    width: 66px;
    margin-right: 20px;
}

.btn_home_media{
	background:#0b6971;
	color:#d1f2f6;
}
.btn_home_media:hover{
	background:#0b6971;
	color:#d1f2f6;

}
.btn_home_media:focus{
	outline:none;
}

.homepage_title_2{
	display:block;
	width:100%;
	height:120px;
	margin-top:40px;

	background:white;
}
.homepage_title_2 h2{
	color:#333333;
	text-transform: uppercase;
	font-weight:bold;
	text-align:center;
	padding-top:40px;
}
.homepage_title_3{
	display:block;
	width:100%;
	height:120px;
	margin-top:40px;
	margin-bottom:40px;
}
.homepage_title_3 h2{
	color:white;
	text-transform: uppercase;
	font-weight:bold;
	text-align:center;
	padding-top:40px;
}

.homepage_title_no_bg{
	display:block;
	width:100%;
	height:120px;
	margin-top:40px;
	background:none;
}
.homepage_title_no_bg h2{
	color:#333333;
	text-transform: uppercase;
	font-weight:bold;
	text-align:center;
	padding-top:40px;
}
.vacancies{
	background:white;
	text-align:center;
	margin-bottom:40px;
	margin-top: 20px
}
.vacancies_image{
	display:block;
	position:relative;
	z-index: 1;
	height: auto;
	margin-bottom:40px;

}
a.link-unstyled {
    display: block;
    width: 100%;
}
.vacancies_image img{
	width:100%;
	height:100%;
	z-index:1;
	position:relative;
}
.vacancies_image p {
    color: white;
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    bottom: 0;
}

.vacancies_image_hover{
	display:block;
	top:0;
	width:100%;
	height: 100%;
	background: rgb(0,87,93,0.5);
    position: absolute;
    z-index: 99;
    opacity:0;
}

.vacancies_hover_text {
    text-align: center;
    color: white;
    margin: 30% 10% 30% 10%;

}
.vacancies_image_hover:hover{
	opacity:1;
}
.vacancies_image:hover p{
	display:none;
}

.hompage_quote{
	display:block;

	width:100%;
	color:#333333;
	font-size:16px;
	text-align: center;
	margin-bottom:40px;
}
.homepage_quote p{
	font-weight:bold;
	margin-bottom:40px;
}

.btn_home_vacancies{
	background:#62c3ca;
	color:#d1f2f6;
}
.btn_home_vacancies:hover{
	background:#62c3ca;
	color:#d1f2f6;

}
.btn_home_vacancies:focus{
	outline:none;
}
/*footer*/
.footer {
    width: 100%;
    border-top: 5px solid #62c3ca;
    background: black;
    padding-top: 100px;
    
}
.footer_1 h3{
	color:#d1f6d7;
	font-weight: bold;
	font-size:16px;
}
.footer_1 ul{
	padding:0;
}
.footer_1 ul li{
	list-style-type: none;
	color:#f2f2f2;
	font-size:13px;
	padding-top:10px;
}
.footer_2 h3{
	color:#55bf8a;
	font-weight: bold;
	font-size:16px;
}
.footer_2 ul{
	padding:0;
}
.footer_2 ul li{
	list-style-type: none;
	color:#f2f2f2;
	font-size:13px;
	padding-top:10px;
}
.footer_3 h3{
	color:#d1f2f6;
	font-weight: bold;
	font-size:16px;
}
.footer_3 p{
	color:#f2f2f2;
	font-size:13px;
}
.footer_3 b{
	padding-right:1px;
}
.footer_4 h3{
	color:#62c3ca;
	font-weight: bold;
	font-size:16px;
}
.footer_4 p{
	color:#f2f2f2;
	font-size:13px;
}
.input_subcribe{
	border-radius:0;
	border:0;
}
.btn_subcribe{
	border-radius: 0;
	background:#62c3ca;
	border:0;
}
.btn_subcribe:hover{
	background: #7ECDD3;
	color:white;
	text-decoration: none;
}
.subcribe input::placeholder{
	color:#afafaf;
	font-style:italic;
	font-size:12px;
}

.copy_right{
	margin-top:100px;
	width:100%;
	height:auto;
	border-top:1px solid #565656;

}
.copy_right p{
	color:#565656;
	text-align:center;
	line-height: 50px;
	font-size:14px;
}

/*--About us--*/

.banner_text{
	width:80%;
	top:0;
	margin-top:10%;
	display:block;
	color:#333333;
	position:absolute;
	left:50%;
	margin-left:-40%;
	z-index:99;
	border-left:2px solid #b40000;
	padding-left:20px;

}
.banner_text h1{
	font-weight: bold;
	text-transform: uppercase;
	font-size:60px;

}
.banner_text h2{
	font-weight:bold;
	font-size:30px;
}

		/*--about_body--*/

img.aboutus_img{
	width:100%;
}

.aboutus_content_title{
	position: relative;
}

/*
.aboutus_content_title h2{
	position:absolute;
	font-weight: 700;
	font-size:70px;
	color:#e4e4e4;
	z-index:1;
	margin-top:-20px;
}*/
.aboutus_mission_1{
	width:100%;
	padding-top:40px;
	padding-bottom:40px;
	color:#515151;
}
.aboutus_img_1{
	width:100%;
	height:auto;
	
	background:#c2c2c2;
}
.aboutus_img_1 img{
	width:100%;
	margin:-10px 10px 10px -10px;
}

.aboutus_mission_1 span{
	font-size:36px;
	font-weight:normal;
	
}
.aboutus_mission_1 span b{
	padding-right:10px;


}
.aboutus_mission_1 p{
	z-index: 80;
	position: relative;
}
.aboutus_mission_1 h2{
	font-weight: 700;
	font-size:70px;
	color:#e4e4e4;
	z-index:1;
	margin-top:-8%;
	position:absolute;
	z-index: 1;
	right:15px;

}
.page_content_title span b{
	margin-right:10px;
}

/*aboutus_vision*/
.aboutus_vision{
	width:100%;
	padding-top:40px;
	padding-bottom:40px;
}
.aboutus_vision span{
	font-size:36px;
	color:#55bf8a;
	font-weight:normal;
}
.aboutus_vision span b{
	padding-right:10px;
}

.aboutus_vision p{
	color:#515151;
}

.aboutus_vision p{
	z-index: 80;
	position: relative;
}
.aboutus_vision h2{
	font-weight: 700;
	font-size:70px;
	color:#e4e4e4;
	z-index:1;
	margin-top:-8%;
	position:absolute;
	z-index: 1;
	left:15px;

}
.aboutus_img_2{
	width:100%;
	height:auto;
	
	background:#4eb47f;
}
.aboutus_img_2 img{
	width:100%;
	margin:-10px -10px 10px 10px;
}

/*mission2*/
.aboutus_mission_2{
	width:100%;
	padding-top:40px;
	padding-bottom:40px;
}
.aboutus_mission_2 span{
	font-size:36px;
	color:#62c3ca;
	font-weight:normal;
}
.aboutus_mission_2 span b{
	padding-right:10px;
}

.aboutus_mission_2 p{
	color:#515151;
}

.aboutus_mission_2 p{
	z-index: 80;
	position: relative;
}
.aboutus_mission_2 h2{
	font-weight: 700;
	font-size:70px;
	color:#e4e4e4;
	z-index:1;
	margin-top:-8%;
	position:absolute;
	z-index: 1;
	right:15px;

}
.aboutus_img_3{
	width:100%;
	height:auto;
	
	background:#5dbcc3;
}
.aboutus_img_3 img{
	width:100%;
	margin:-10px 10px 10px -10px;
}

/*director*/
.aboutus_director{
	width:100%;
	padding-top:40px;
	padding-bottom:40px;
}
.aboutus_director span{
	font-size:36px;
	color:#0b6971;
	font-weight:normal;
}
.aboutus_director span b{
	padding-left:10px;
}

.aboutus_director p{
	color:#515151;
}
.aboutus_director p{
	z-index: 80;
	position: relative;
}
.aboutus_director h2{
	font-weight: 700;
	font-size:50px;
	color:#e4e4e4;
	z-index:1;
	margin-top:-8%;
	position:absolute;
	z-index: 1;
	left:15px;

}
.aboutus_img_4{
	width:100%;
	height:auto;
	
	background:#0b6971;
}
.aboutus_img_4 img{
	width:100%;
	margin:-10px -10px 10px 10px;
}

.members{
	margin-bottom:40px;

}
.member_info{
	margin-top:20px;
	height:100%;

}

.aboutus_company{
	background:url(../images/About_us/company.png) no-repeat;
	background-position: center;
	width:100%;
}
.company_info{
	color:white;
	padding-bottom:40px;

}
.company_info b{
	padding-right:20px;
}

.activity_image{
	visibility: visible; 
	animation-duration: 1000ms; 
	animation-delay: 300ms; 
	animation-name: fadeInDown;
}
/*
.activity_image .slick-slider{
	position:inherit;
}
.act-slider{
	float:left;
	width: 100%;
    padding: 0 70px
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.act-stage{
	transform: translate3d(-2091px, 0px, 0px); 
	transition: all 2s ease 0s; 
	width: 100%;
}
.cloned{
	width: 268.833px; 
	margin-right: 30px;
}
.act-carousel.act-loaded {
    display: block;
}
.act-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
.item a{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none;
    text-decoration: none;
    color: #e4b95b;
}
*/


/*Service*/
.Service_banner{
	display:block;
	width:100%;
	position:relative;
	height:420px;

}
.backend_development {
	width: 100%;
    background: #f6f6f6;
    padding-top: 40px;
    padding-bottom: 40px;
    color:#206a45;
}
.backend_development span{
	font-size:36px;
	color:#206a45;
	font-weight:normal;
}

.backend_development span b{
	padding-right:10px;
}
.backend_development h4{
	color:#206a45;
	font-size:16px;
	margin-top:10px;
}
.backend_development p{
	color:#333333;
}

.support {
	width: 100%;
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
    color:#333333;
}
.support span{
	font-size:36px;
	color:#206a45;
	font-weight:normal;
}

.support span b{
	padding-right:10px;
}
.support h4{
	color:#206a45;
	font-size:16px;
	margin-top:10px;
}
.support p{
	color:#333333;
}

/*career*/

.career_1{
	width:100%;
	padding-top:40px;
	padding-bottom:40px;
	
}
.career_img_1{
	width:100%;
	height:auto;
	
	background:#54be89;
}
.career_img_1 img{
	width:100%;
	margin:-10px 10px 10px -10px;
}

.career_1 span{
	font-size:36px;
	font-weight:normal;
	color:#54be89;
}

.career_1 p{
	z-index: 80;
	position: relative;
	color:#515151;

}

.page_content_title span b{
	margin-right:10px;
}


.career_2{
	width:100%;
	padding-top:40px;
	padding-bottom:40px;
}
.career_2 span{
	font-size:36px;
	color:#61c2c9;
	font-weight:normal;
}

.career_2 p{
	z-index: 80;
	position: relative;

}

.career_img_2{
	width:100%;
	height:auto;
	
	background:#61c2c9;
}
.career_img_2 img{
	width:100%;
	margin:-10px -10px 10px 10px;
}



.career_3{
	width:100%;
	padding-top:40px;
	padding-bottom:40px;
}
.career_3 span{
	font-size:36px;
	color:#aa0000;
	font-weight:normal;
}
.career_3 span b{
	padding-right:10px;
}

.career_3 p{
	z-index: 80;
	position: relative;
	color:#515151;
}
.career_img_3{
	width:100%;
	height:auto;
	
	background:#a70000;
}
.career_img_3 img{
	width:100%;
	margin:-10px 10px 10px -10px;
}
.career_content {
    background: #f6f6f6;
    padding: 50px 0px 50px 0px;
}

.vacancy_list{
	background: white;
    text-align: center;
    margin-bottom: 40px;
}

.vacancy-body{
	padding:20px;

}
.vacancy_item{
	border:1px solid #b40000;
	margin-top:20px;
}
.btn-collapse i.icon_vacancy_1 {
    height: 60px;
    background: url(../images/career/ic_software.png) no-repeat;
    display: inline-block;
    width: 60px;
    margin-left: 20px;
    float:left;
}
.btn-collapse i.icon_vacancy_2 {
    height: 60px;
    background: url(../images/career/ic_mar.png) no-repeat;
    display: inline-block;
    width: 70px;
    margin-left: 20px;
    float:left;
}
.btn-collapse i.icon_vacancy_3 {
    height: 60px;
    background: url(../images/career/ic_solution.png) no-repeat;
    display: inline-block;
    width: 60px;
    margin-left: 20px;
    float:left;
}
.btn-collapse i.icon_vacancy_4 {
    height: 60px;
    background: url(../images/career/ic_operation.png) no-repeat;
    display: inline-block;
    width: 60px;
    margin-left: 20px;
    float:left;
}
.btn-collapse span {
    color: #333333;
    font-weight: bold;
    font-size: 24px;
    line-height: 60px;
    float: left;
    margin-left: 20px;
}
.btn-collapse {
	width:100%;
    background: none;
    outline:none;
    border:1px solid #afafaf;
    padding:10px;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
}
.btn_apply{
	width:150px;
    background: #b40000;
    color: white;
    text-align:center;
    display:block;
    margin:0 auto;
    font-size:12px;
}
.btn_apply:hover{
    color: white;
}


.homepage_title_2 p{
	text-align: center;
}
.form{
	margin-bottom:40px;
}
.form_row{
	margin-top:20px;
}
.form_row p{
	font-size:16px;
	color:#333333;
	margin-bottom: 10px
}
.form_row input{
	width:100%;
	border:1px solid #afafaf;
	height:50px;
	padding:10px;

}
.form_row input::placeholder{
 	color:#afafaf;
 	font-size:12px;
 	font-style:italic;

 }
.form_row2 p{
	font-size:16px;
	color:#333333;
	margin-bottom: 10px
}
.form_row2{
	margin-top:20px;

}
.form_row2 input{
	width:100%;
	border:1px solid #afafaf;
	height:50px;
	padding:10px;
	height:150px;
}

 .form_row2 input::placeholder{
 	color:#afafaf;
 	font-size:12px;
 	font-style:italic;

 }
 /*animation*/

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

$bar-width: 100px;
$bar-height: 10px;
$bar-spacing: 25px;

body {
	background: #F44336;
}

.menu-wrapper {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: $bar-width;
	height: $bar-height + $bar-spacing*2;
	cursor: pointer;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: $bar-width;
	height: $bar-height;
}

.hamburger-menu {
	position: relative;
	transform: translateY($bar-spacing);
	background: rgba(255, 255, 255, 1);
	transition: all 0ms 300ms;
  
  &.animate {
    background: rgba(255, 255, 255, 0); 
  }
}

.hamburger-menu:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: $bar-spacing;
	background: rgba(255, 255, 255, 1);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
	content: "";
	position: absolute;
	left: 0;
	top: $bar-spacing;
	background: rgba(255, 255, 255, 1);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.hamburger-menu.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
/*responsive max-width 1200ox*/
@media (max-width: 1200px){
	.banner_text{
	width:80%;
	top:0;
	margin-top:15%;
	display:block;
	color:#333333;
	position:absolute;
	left:50%;
	margin-left:-40%;
	z-index:99;
	border-left:2px solid #b40000;
	padding-left:20px;
}
.line {
    width: 10%;
    border-top: 2px solid #b40000;
    display: block;
    margin: 0 auto;
    padding-bottom: 40px;
}

}

/*responsive max-width 991*/
@media (max-width: 991px){

.header>.container {
    width: 100%!important;
    max-width: 100%!important;
}
img.img_service {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
}
.career_img_1 {
    width: 80%;
    margin: 0 auto;
    background: none;
    display: block;
    margin-bottom: 20px;
}
.career_img_2 {
    width: 80%;
    margin: 0 auto;
    background: none;
    display: block;
    margin-bottom: 20px;
}
.career_img_1 img {
    width: 100%;
    margin:0;
}
.career_img_2 img {
    width: 100%;
    margin:0;
}
.career_img_3 img {
    width: 100%;
    margin:0;
}
.career_img_3 {
    width: 80%;
    margin: 0 auto;
    background: none;
    display: block;
    margin-bottom: 20px;
}
	.btn-collapse span {
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    line-height: 60px;
    float: left;
    margin-left: 20px;
}
.shadow-lg {
    box-shadow: 0 0.5rem 0.5rem 0rem rgba(0,0,0,.1)!important;
}
.vacancies_image img {
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
}
.vacancies_image p {
    color: #333333;
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    bottom: 0;
}
.homepage_content span{
	font-size:30px;

}
/*.aboutus_img_1{
	width: 80%;
    margin: 0 auto;
    background: none;
    display: block;
    margin-bottom: 20px;
}	.aboutus_img_2{
	width: 80%;
    margin: 0 auto;
    background: none;
    display: block;
    margin-bottom: 20px;
}
	.aboutus_img_3{
	width: 80%;
    margin: 0 auto;
    background: none;
    display: block;
    margin-bottom: 20px;
}
	.aboutus_img_1 img {
    width: 100%;
    margin:0;
}
	.aboutus_img_2 img {
    width: 100%;
    margin:0;
}
	.aboutus_img_3 img {
    width: 100%;
    margin:0;
}*/
.vacancies_image p {
    color: white;
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    bottom: 0;
}
.dropdown a{
	text-align:center;
}
.aboutus_director h2 {
    font-weight: 700;
    font-size: 36px;
    color: #e4e4e4;
    z-index: 1;
    margin-top: -8%;
    position: absolute;
    z-index: 1;
    right: 15px;
}
}
@media (max-width: 767px){
	.homepage_content span{
		font-size:30px;
	}
	.career_content {
    background: #f6f6f6;
    padding: 0;
}
.dropdown a{
	text-align:center;
}

}
@media (max-width: 414px){
	.header>.container {
    width: 100%!important;
    max-width: 100%!important;
}
.web_solution i.icon_title_web {
    display:none;
}
.homepage_content_title i.icon_title_offshore {
    display:none;
}
.homepage_content_title i.icon_title_media {
    display:none;
}
.homepage_content_title i.icon_title_mobile {
    display:none;
}
	.homepage_content span{
		font-size:24px;
	}
.content-header {
    position: absolute;
    background: rgb(0,0,0,0.5);
    width: 480px;
    height: 300px;
    bottom: 0;
    left: 50%;
    margin-left: -240px;
}
.banner_text {
    width: 80%;
    top: 100px;
    margin-top: 15%;
    display: block;
    color: #333333;
    position: absolute;
    left: 50%;
    margin-left: -40%;
    z-index: 99;
    border-left: 2px solid #b40000;
    padding-left: 20px;
}
.banner_text h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
}
	.career_content span{
		margin-top:20px;
		font-size:20px;
	}
	.career_img_1 img{
	width:100%;
	margin:0;
}
	.career_img_2 img{
	width:100%;
	margin:0;
}
	.career_img_3 img{
	width:100%;
	margin:0;
}
.aboutus_img_1{
	margin-bottom:20px;
}
.aboutus_img_2{
	margin-bottom:20px;
}
.aboutus_img_3{
	margin-bottom:20px;
}
.aboutus_img_4{
	margin-bottom:20px;
}
.aboutus_img_1 img{
	width:100%;
	margin:0;
}
.aboutus_img_2 img{
	width:100%;
	margin:0;
}
.aboutus_img_3 img{
	width:100%;
	margin:0;
}
.aboutus_img_4 img {
	width:100%;
	margin:0;
}

.homepage_content h2{
	display:none;
}
.homepage_title_no_bg h2 {

    font-size:24px;
}
.homepage_title_2 h2 {

    font-size:24px;
}
.slide_text h2{
	font-size:30px;
}
.slide_text p{
	font-size:16px;
}
.dropdown a{
	text-align:center;
}
}
@media (max-width: 375px){
	.header>.container {
    width: 100%!important;
    max-width: 100%!important;
}
.content-header {
    position: absolute;
    background: rgb(0,0,0,0.5);
    width: 100%;
    height: 300px;
    bottom: 0;
    left: 50%;
    margin-left: -188px;
}
.aboutus_mission_1 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #515151;
}
.aboutus_vision {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.aboutus_mission_2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.aboutus_director {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

}
@media (max-width: 320px){
	.header>.container {
    width: 100%!important;
    max-width: 100%!important;
}
.content-header {
    position: absolute;
    background: rgb(0,0,0,0.5);
    width: 100%;
    height: 300px;
    bottom: 0;
    left: 50%;
    margin-left: -160px;
}

.homepage_content span {
    font-size: 20px;
}
.homepage_content h4{
	font-size: 14px;
}
.homepage_content p{
	font-size:14px;
}
}