  @charset "utf-8";
/* CSS Document */
html,body{
	max-width: 100%;
	width: 100%;
	overflow-x:hidden; 
	margin:0;
	padding: 0;
}
body{
	font-family: 'Google Sans', sans-serif;
}
@font-face {
	font-family: 'Google Sans';
	src: url('fonts/GoogleSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Google Sans';
	src: url('fonts/GoogleSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


.container-fluid {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding:0;
	height:auto
}
.section .container {
    position: relative;
    z-index: 1;
}

/* Navigation */

.header {
    /* background: #4ab7e0; */
    -webkit-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
	height: 100px;
	padding-top:40px;
	position: relative;
	z-index: 2;
}
.nav-bar{
	position:relative;
	display:flex;

}
/* .nav-menu{
	background: #F4FCFF;
} */
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
	height: 100%;
	text-transform:uppercase;
}
/* .navbar-collapse{
	background:#1980BA;
} */
.logo{
	width:150px;
	height: auto;
}
.nav-menu .nav-item.active .nav-link, .nav-menu .nav-item .nav-link {
    color: white;
	font-size:16px;
}
.nav-menu .nav-item.active .nav-link, .nav-menu .nav-item .nav-link:hover{
	color:#a9dff1
}
.navbar-toggler-icon{
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	}
	.navbar-toggler-icon span{
	background: white;
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
	.navbar-toggler-icon span:nth-child(1) {
	top: 0px;
	}
	
	.navbar-toggler-icon span:nth-child(2) {
	top: 10px;
	}
	
	.navbar-toggler-icon span:nth-child(3) {
	top: 20px;
	}
	
	.navbar-toggler-icon.open span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	}
	
	.navbar-toggler-icon.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
	}
	
	.navbar-toggler-icon.open span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	}
	.navbar-light .navbar-toggler{
	border:none;
	}

.navbar-light .navbar-toggler-icon {
	background-image:none;
}
.navbar-light .navbar-toggler-icon:before, .navbar-light .navbar-toggler-icon:after {
	background: white;
}
.outline-btn{
	/* width: 150px;
	display: block; */
	padding:10px 20px;
	border-radius: 20px;
	background:none;
	border: 2px solid white;
	text-decoration: none;
	text-align:center;
	color:white;
	text-transform: uppercase;
	line-height: 14px;
	font-size:12px;
}
.outline-btn:hover{
	background:white;
	text-decoration: none;
	color: #122D4E;
}
/* .menu-btn{
	display:inline-block;
} */
.white-btn{
	padding: 12px 20px;
	border-radius:20px;
	background:white;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
	transition:0.5s;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 15px;
	color: #1980BA;
	/* margin-right:20px; */
	display:inline-block;
	font-size:14px;
}
.white-btn:hover{
	background-image: linear-gradient(120deg, #4AB7E0 0%, #1980BA 100%);
	color:white;
	text-decoration: none;

}
/* .nav-text{
	margin-right:40px;
	border-bottom: 4px solid #1980ba;
} */
.nav-item {
    padding-left: 15px;
    padding-right: 15px;
	position: relative;
	text-align:center;
}
.nav-menu .nav-item.active .nav-link, .nav-menu .nav-item:hover .nav-link {
    color: white;
    font-weight: 400;
    /* border-bottom:1px solid #b40000; */
}
.navbar-header.navbar-expand-lg {
    padding-top: 8px;
    padding-left: 0;
    padding-right: 0;
}

.fixed-top {
    /* position: fixed; */
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height:auto;
}
.navbar-brand {
    float: left;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand img {
    zoom: 1;
    width: 300px;
    max-width: 300px;
}
.nav-link {
    display: block;
    padding:0;
}

.dropdown{
	display:block;
	margin:0 auto;

}
.dropdown a {
    display: block;
    border: none;
    font-size: 16px;
    color:white;
    margin:10px;
    text-align:left;
}
.dropdown a:hover {
	text-decoration: none;
    color: #000000;
    font-weight: 400;
    border-bottom:1px solid #b40000;
}
.dropdown-menu{
	border:none;
	width:100%;
	background:#f9f9f9;
}
.dropdown-menu{
	width:250px;
	color:#333333;

}
.dropdown-menu li a{
	font-size:16px;
	
}
.dropdown-menu a:hover{
	color: #000000;
    font-weight: 600;
    border-bottom:1px solid #b40000;
}
.navbar-light .navbar-nav .nav-link {
    text-align: center;
    margin:10px 0px 10px 0px;
}
.nav-collapse ul{
	float:right;
}
.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    outline: none;
}

.logo {
	width:15%;
	float:left;
}
.btn-nav{
 	border:1px solid #333333;
 	float:right;
 }
 .top-page{
	position:relative;
	background: #F4FCFF;
	background: url(../images/bg_top_pattern.png) no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	 
 }
 .overlay{
	 height: 100%;
	 width:100%;
	 display:block;
	 position: absolute;
	 background: url(../images/bg_toppage.svg) no-repeat bottom right;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 opacity:0.9;

 }
.banner{
	margin-top: 100px;
}

.bg_banner{
	position: absolute !important;
    top: auto;
    right: 0;
    bottom: 0px;
    left: 0;
    /* z-index: -1; */
}
.bg_banner img{
	width: 100%;
}
.first-view_text{
	text-align:left;
	color: white;
	padding-right:50px;
}
.first-view_text h2{
	margin-top:100px;
	font-size: 45px;
	line-height: 1.2;
}
.first-view_text h4 {
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: normal;
    line-height: 1.8;
    margin-top: 20px;
}

.first-view_img{
	position:relative;
	text-align:right;
	display:block;	
}
.img-bg{
	width:120%;
	height:100%;
}
.note{
	margin-top:160px;
	padding-bottom:50px;
	border-bottom:1px solid #E1E8F2;
}
.join-text{
	text-align:left;
	color:#122D4E;
	line-height:1.2;
}
.join-text span{
	font-size:16px;
	padding-top:10px;

}
.join-text img{
	float:left;
	padding-right:20px;
	width:60px;
	height:auto;
}
.join-btn{
	text-align:center;
}
.button-outline{
	border:1px solid #122D4E;
	margin:0 auto;
	width: 200px;
	display: block;
	padding:10px 20px;
	border-radius: 20px;
	text-decoration: none;
	text-align:center;
	color:#2F4B6E;
	text-transform: uppercase;
	line-height: 14px;
	font-size:12px;
}
.button-outline:hover{
	background: #2F4B6E;
	text-decoration: none;
	color: white;
}
.intro{
	padding-bottom:100px;
	background: url(../images/bg_intro.png) no-repeat bottom right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.intro-title{
	width:50%;
	margin: 0 auto;
	color:#1980BA;
	text-align:center;
}
.intro-title h2{
	font-size:40px;
	font-weight: bold;
}
.intro-title span{
	display:block;
	margin: 0 auto;
	width: 120px;
	height:3px;
	background: #4AB7E0;
}
.intro-title p{
	margin-top:15px;
	font-size:16px;
	color:#838FAE;
}
.intro-item{
	margin-top: 50px;
	margin-bottom: 50px;
}
.item{
	text-align:center;
	margin:0 auto;
	padding:50px;
	background: white;
	height:320px;
	border-radius:10px;
	-webkit-box-shadow: 0px 3px 17px -10px rgba(93,112,223,1);
	-moz-box-shadow: 0px 3px 17px -10px rgba(93,112,223,1);
	box-shadow: 0px 3px 17px -10px rgba(93,112,223,1);

}
.item:hover{
	-webkit-box-shadow: 0px 5px 32px -10px rgba(116,132,222,1);
	-moz-box-shadow: 0px 5px 32px -10px rgba(116,132,222,1);
	box-shadow: 0px 5px 32px -10px rgba(116,132,222,1);
}
.item h4{
	color:#1980BA;
	font-size:20px;
	font-weight:bold;

}
.item span{
	background:#4AB7E0;
	display:block;
	margin: 0 auto;
	width: 80px;
	height: 2px;
}
.item p{
	margin-top: 20px;
	color: #838FAE;
	font-size: 14px;
}
.item img{
	margin-bottom:30px;
}
.feature{
	background: #F4FCFF;
	padding: 100px 50px 0 50px;
}
.item-text{
	text-align:left;

}
.item-text h3{
	font-size: 40px;
	font-weight: bold;
	color: #1980BA;
}
.item-text p {
    margin-top: 20px;
    font-size: 16px;
    color: #333333;
}
.item-img {
	display:block;
	/* height:700px; */
}
.item-img_feature{
	display:block;
	margin: 0 auto;
	width:100%
}
.item-text{
	padding:200px 100px 0 100px;
}
.download {
	background: #F4FCFF;
	padding:50px 0 150px 0;	
	z-index:98;
}
.download-content{
	display:block;
	position:relative;
	z-index:1;
	background: url(../images/bg_download.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding-bottom: 200px;
    padding-top: 200px;

}
.download-content h2{
	width:100%;
	font-size: 45px;
	color: white;
	font-weight: bold;
	text-align:center;
	margin-bottom: 40px;
}
.download_button{
	width:30%;
	margin: 0 auto;
}
.download-btn{
	text-align:center;
	margin:0 auto;
}
.img-responsive{
	display:block;
	width:100%

}
.playstore-btn{
	display:block;
	width:100%;
	/* padding-left: 15px;
    padding-right: 15px; */
}
.subcribe{
	background: #DEF2F9;
	z-index: 100;
	height:150px;
	padding: 0 50px;

}
.subcribe-box{
	display:block;
	z-index: 1;
	position:relative;
	top:-100px;
	margin: 0 auto;
	background: white;
	border-radius:10px;
	-webkit-box-shadow: 0px 3px 17px -10px rgba(93,112,223,1);
	-moz-box-shadow: 0px 3px 17px -10px rgba(93,112,223,1);
	box-shadow: 0px 3px 17px -10px rgba(93,112,223,1);
	padding: 50px 0;
}
.subcribe-box_title h2{
	width: 100%;
	color:#1980BA;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
.email{
	width: 70%;
	margin: 0px auto;
    margin-top: 30px;
	border-radius: 25px;
	background: #F2F5F8;
}
.fill-email{
	padding:0
}
.form-control{
	border: none;
	height: 50px;
	border-radius: 25px;
	background: #F2F5F8;
}
.form-control::placeholder{
	color:#8CA0BB;
	font-size:16px;
}
.form-control:focus {
    color: #495057;
    border: 1px solid #1980BA;
	outline: 0;
	box-shadow:none
}
.email-btn{
	padding:0;
}
.gradient-btn{
	display:block;
	background-image: linear-gradient(120deg, #4AB7E0 0%, #1980BA 100%);
	transition:0.5s;
	height:50px;
	border-radius: 25px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding-top: 13px;
}
.gradient-btn:hover{
	background:white;
    -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1);
	text-decoration: none;
	color: #4AB7E0;
	font-weight:bold;
}
.footer{
	background: #DEF2F9;
	padding-top:40px;
}
.term{
	margin: 0 auto;
	display:block;
	color:#2F4B6E;
	text-align:center;

}
.term p{
	font-size:14px;
}
@media (max-width: 1440px){
	.img-bg{
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	.download_button{
		width:40%;
		margin: 0 auto;
	}
}
@media (max-width: 1200px){
	.bg_banner{
		position: absolute !important;
		top: auto;
		right: 0;
		bottom: -1px;
		left: 0;
		/* z-index: -1; */
	}
	.download_button{
		width:50%;
		margin: 0 auto;
	}
	.first-view_text h2 {
		margin-top: 0;
		font-size: 40px;
		line-height: 1.2;
	}


}
@media (max-width: 991px){
	.container {
		width: 100%!important;
		max-width: 100%!important;
	}
	.navbar-collapse {
		position: absolute;
		background: #3292c4;
		border: 1px solid #f2f2f2;
		width: 100%;
		top: 55px;
		left: 0;
		padding-bottom: 10px;
	}
	.first-view_text{
		padding-left: 50px;
	}
	.item-text {
		padding: 50px 0 0 0;
	}
	.banner{
		margin-top: 50px;
	}
	.download-content {
		padding-bottom: 100px;
		padding-top: 100px;
	}
	.first-view_text h2 {
		margin-top: 0;
		font-size: 40px;
		line-height: 1.2;
	}

}
@media (max-width: 767px){
	.container {
		width: 100%!important;
		max-width: 100%!important;
	}
	.download-content {
		padding-bottom: 100px;
		padding-top: 100px;
	}
	.download_button{
		width:50%;
		margin: 0 auto;
	}
	.first-view_img {
		width: 80%;
		margin: 20px auto;
		background: url(./../images/banner.png) top right;
		background-repeat: no-repeat;
		background-size: 100%;
		min-height: 611px;
	}
	.first-view_text{
		text-align:center;
		padding: 0 30px;
	}
	.first-view_text h2 {
		margin-top:0;
		font-size:36px;
	}
	.first-view_text h4 {
		font-size: 16px;
		margin: 0 50px 30px;
		font-weight: normal;
	}
	.img-bg{
		width:60%;
		padding:50px;
	}
	.item{
		padding:50px 30px 30px 30px;
	}
	.item-img_feature{
		width:60%;
	}
	.item-img_feature {
	width: 50%;
	}

	.item-text {
		padding: 0 50px 50px 50px;
		text-align: center;
	}
	.item-text h3 {
		font-size: 28px;
		font-weight: bold;
		color: #1980BA;
	}
	.item-text p {
		font-size: 16px;
		color: #333333;
	}
	.item-text p {
    font-size: 16px;
    color: #333333;
	}
	.feature {
		background: #F4FCFF;
		padding: 50px 50px 0 50px;
	}
	.download-content h3 {
		width: 100%;
		font-size: 28px;
		color: white;
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;
	}
	.subcribe-box_title h2 {
		width: 100%;
		font-size: 36px;
	}
	.email{
		background: none;
	}
	.email-btn {
		padding:0;
		width: 50%;
		margin: 20px auto 0px auto;
	}
	.footer{
		padding-top:100px;
	}
}
@media (max-width: 414px){
	.container {
		width: 100%!important;
		max-width: 100%!important;
	}
	.intro-title{
		width:80%;
	}
	.intro {
		padding-bottom: 50px;
	}
	.item{
		margin:15px auto;
	}
	.item-text {
		padding: 0 0 30px 0;
	}
	.download_button {
		width: 80%
	}
}
@media (max-width: 414px){
	.container {
		width: 100%!important;
		max-width: 100%!important;
	}
	.banner{
		padding-bottom:100px
	}
	.first-view_text {
		text-align: center;
		padding: 0 20px;
	}
	.first-view_text h4 {
		line-height: 1.5;
	}
	.first-view_img{
		display:none
	}
	.intro-title{
		width:100%;
	}
	.intro{
		padding:0;
	}
	.item {
		margin-bottom: 30px;
	}
	.intro-item {
		margin-top: 20px;
	}
	.feature {
		background: #F4FCFF;
		padding: 50px 20px 0 20px;
	}
	.item-text {
		padding: 0 0 30px 0;
	}
	.download_button {
		width: 100%;
	}
	.subcribe {
		padding: 0 20px;
	}
	.subcribe-box_title h2 {
		font-size: 28px;
	}
	.email{
		width:100%;
	}
	.fill-email{
		padding: 0 15px;
	}
}
@media (max-width: 375px){
	.container {
		width: 100%!important;
		max-width: 100%!important;
	}
	.navbar-brand img {
		zoom: 1;
		width: 250px;
		max-width: 250px;
	}
	.first-view_text h4 {
		font-size: 16px;
		margin: 0 0 30px 0;
		font-weight: normal;
	}
}
@media (max-width: 320px){
	.container {
		width: 100%!important;
		max-width: 100%!important;
	}
	.download {
		padding: 0 0 100px 0;
	}
}

.custom-z-index {
	z-index: -100;
}

.first-view_img{
	background-image: url('./../images/banner.png');
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 650px;
	/* position: absolute; */
	/* right: -100px; */
}